---
import '../styles/global.css';
import Main from '../layouts/main.astro';
---
<Main 
  title="Documentation | JostVim - Lightweight Vim IDE for Developers"
  description="A lightweight Vim IDE designed for developers, offering a seamless coding experience with powerful features and a user-friendly interface."
  keywords="vim, neovim, jostvim, ide, lightweight, developer tools, coding, programming, text editor, productivity"
  githubUrl="https://github.com/josstei/jostvim"
>
</Main>